name: Release

on:
  push:
    tags:
      - "v0.1.0"   # å¦‚ v1.0.0, v0.1.0

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install dependencies
        run: npm ci

      - name: Run tests
        run: npm test

      - name: Build artifact
        run: |
          mkdir -p dist
          cp -r src package.json package-lock.json dist/

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: app-dist
          path: dist/

  github-release:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: app-dist
          path: dist

      - name: Create GitHub Release
        uses: ncipollo/release-action@v1
        with:
          artifacts: "dist/**"
          token: ${{ secrets.GITHUB_TOKEN }}

